<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Align Mail</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
</head>

<body>
    <div class="character-container">
        <div class="character-header">
            <h1>Select Character</h1>
            <p>Select a character to continue</p>
        </div>
        <div class="characters-container">
            <div class="character">
                <img src="/assets/img/profile.png" alt="" class="character-image">
                <div class="text">
                    <p>Jay Daniels</p>
                    <p class="address">daniels@mail.align</p>
                </div>
                <div class="character-button-container">
                    <button>Select</button>
                </div>
            </div>
            <div class="character">
                <img src="/assets/img/profile.png" alt="" class="character-image">
                <div class="text">
                    <p>Jay Daniels</p>
                    <p class="address">daniels@mail.align</p>
                </div>
                <div class="character-button-container">
                    <button>Select</button>
                </div>
            </div>
            <div class="character">
                <img src="/assets/img/profile.png" alt="" class="character-image">
                <div class="text">
                    <p>Jay Daniels</p>
                    <p class="address">daniels@mail.align</p>
                </div>
                <div class="character-button-container">
                    <button>Select</button>
                </div>
            </div>
            <div class="character">
                <img src="/assets/img/profile.png" alt="" class="character-image">
                <div class="text">
                    <p>Jay Daniels</p>
                    <p class="address">daniels@mail.align</p>
                </div>
                <div class="character-button-container">
                    <button>Select</button>
                </div>
            </div>
            <div class="add">
                <h1><i class="fa-solid fa-plus"></i></h1>
                <div class="character-button-container">
                    <button class="create-button">New Character</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="/assets/js/character.js"></script>
</body>

</html>