<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Align Mail | Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css">
</head>

<body>
    <div class="page">
        <div class="side-menu">
            <div class="profile-container">
                <img src="/assets/img/profile.png" alt="">
                <div class="profile-info">
                    <p class="profile-name">Jay Daniels</p>
                    <p class="profile-adress">daniels@daniels.align</p>
                </div>
            </div>
            <div class="menu-container">
                <div class="compose-button-container">
                    <button><i class="fa-light fa-plus"></i> Compose</button>
                </div>
                <div class="menu-items">
                    <div class="menu-item active-menu">
                        <div class="item-child">
                            <i class="fa-light fa-inbox"></i>
                            <p class="item-name">Inbox</p>
                        </div>

                        <p class="badge">99+</p>
                    </div>
                    <div class="menu-item">
                        <div class="item-child">
                            <i class="fa-light fa-paper-plane"></i>
                            <p class="item-name">Sent</p>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="item-child">
                            <i class="fa-light fa-gear"></i>
                            <p class="item-name">Settings</p>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="item-child">
                            <i class="fa-light fa-house"></i>
                            <p class="item-name">Organisation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="email-list">
            <div class="email-list-header">
                <p class="inbox-header">Inbox</p>
                <div class="inbox-info">
                    <p>500 Emails</p>
                    <span class="dot"><i class="fa-solid fa-circle"></i></span>
                    <p>10 New</p>
                </div>
            </div>
            <div class="email-list-search">
                <input type="text" name="" id="" placeholder="Search">
            </div>
            <div class="email-list-tabs">
                <p class="active-tab">Unread</p>
                <p>Read</p>
                <p>Archived</p>
            </div>
            <div class="email-list-container">
                <div class="email-preview active-preview">
                    <div class="header">
                        <div class="header-left">
                            <img src="/assets/img/profile.png" alt="">
                            <div class="text">
                                <p class="name">Jay Daniels</p>
                                <p class="title">Invitation to PIO Event</p>
                            </div>
                        </div>
                        <div class="header-right">
                            <p class="date">Tue</p>
                        </div>
                    </div>

                    <div class="email-description">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, tempora! Assumenda neque
                            exercitationem animi animianimianimianimiani...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="email-detail">
            <div class="email-recivied">
                <div class="email-detail-info">
                    <div class="from-container">
                        <img src="/assets/img/profile.png" alt="">
                        <div class="info">
                            <p class="name">Thomas Shaw</p>
                            <p class="adress"><span class="from-grey">From:</span> shaw@safr.align</p>
                        </div>
                    </div>
                    <div class="detail-left">
                        <p>15th December, 2023, 19:04PM</p>
                        <button href="#" class="ellipsis"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </div>
                <div class="action-row">
                    <a href="" class="action"><i class="fa-regular fa-eye-slash"></i></a>
                    <a href="" class="action"><i class="fa-regular fa-share"></i></a>
                    <a href="" class="action"><i class="fa-regular fa-box-archive"></i></a>
                    <a href="" class="action"><i class="fa-regular fa-trash"></i></a>
                </div>
                <div class="email-content">
                    <div class="content-author">
                        <img src="/assets/img/profile.png" alt="">
                        <div class="info">
                            <p class="name">Thomas Shaw</p>
                            <p class="adress"><span class="from-grey">From:</span> shaw@safr.align</p>
                        </div>
                    </div>
                    <p class="title">Termination from San Andreas Fire Rescue</p>
                    <p class="body">
                        Dear Team,<br><br>

                        I hope this email finds you well. As you are aware, the COVID-19 pandemic has forced many businesses
                        to adapt to a remote work model, and we have been no exception. Over the past year, our team has
                        been working remotely, and it has become clear that this is a viable option for us.
                        We have been closely monitoring the situation and have observed that remote work has several
                        benefits, such as increased productivity, cost savings, and employee satisfaction. It also allows
                        for more flexibility and work-life balance for our team members.
                        <br><br>
                        I would like to schedule a team meeting to discuss this proposal further and hear your thoughts and
                        concerns. Please let me know if you have any availability next week, and we will schedule the
                        meeting accordingly.
                        <br><br>
                        In the meantime, please let me know if you have any questions or concerns.
                        Thank you for your time and consideration.
                        <br><br>
                        Best regards,<br>
                        Home Boy
                    </p>
                </div>
                <div class="email-content">
                    <div class="content-author">
                        <img src="/assets/img/profile.png" alt="">
                        <div class="info">
                            <p class="name">Thomas Shaw</p>
                            <p class="adress"><span class="from-grey">From:</span> shaw@safr.align</p>
                        </div>
                    </div>
                    <p class="title">Termination from San Andreas Fire Rescue</p>
                    <p class="body">
                        Dear Team,<br><br>

                        I hope this email finds you well. As you are aware, the COVID-19 pandemic has forced many businesses
                        to adapt to a remote work model, and we have been no exception. Over the past year, our team has
                        been working remotely, and it has become clear that this is a viable option for us.
                        We have been closely monitoring the situation and have observed that remote work has several
                        benefits, such as increased productivity, cost savings, and employee satisfaction. It also allows
                        for more flexibility and work-life balance for our team members.
                        <br><br>
                        I would like to schedule a team meeting to discuss this proposal further and hear your thoughts and
                        concerns. Please let me know if you have any availability next week, and we will schedule the
                        meeting accordingly.
                        <br><br>
                        In the meantime, please let me know if you have any questions or concerns.
                        Thank you for your time and consideration.
                        <br><br>
                        Best regards,<br>
                        Home Boy
                    </p>
                </div>
                <div class="reply-container">
                    <textarea id="editor" placeholder="Write a reply"></textarea>
                    <button>Reply</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/dashboard.js"></script>
</body>

</html